[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
openai = "*"
sentence-transformers = "*"
elasticsearch = "==8.9.0"

[dev-packages]
jupyter = "*"
tqdm = "*"

[requires]
python_version = "3.10"
